/* body {
    background-color: rgb(46, 44, 44);
} */
/* .header { */
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100vw; */
/* } */

/* .text-gradient { */
    /* background: linear-gradient(to right,rgb(67,124,50),rgb(120,120,120)); */
    /* background-color: red; */
    /* background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* border: 1px solid red !important; */
/* } */